@value colors: '../../styles/colors.module.css';
@value verde, blanco, morado, moradoClaro from colors;

.socialNav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.socialIcon {
  width: 1.5rem;
  height: 1.5rem;
  fill: blanco;
  transition: fill 0.3s;
}

.socialIcon:hover {
  scale: (1.1);
  fill: morado;
}

.subLink {
  color: blanco;
  text-decoration: none;
  transition: color 0.3s;
}

.subLink:hover {
  color: verde;
}
