@value colors: '../../styles/colors.module.css';
@value moradoClaro, blanco, verdeClaro from colors;

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 200px;
  height: 300px;
  border: 1px solid verdeClaro;
  border-radius: 8px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.image {
  width: 100%;
  height: 50%;
  object-fit: contain;
  border-radius: 8px;
}

.name {
  font-size: 1rem;
  margin-top: 10px;
  font-weight: 600;
  text-align: center;
}

.price {
  margin-top: -10px;
  font-size: large;
}

.span {
  font-weight: 600;
}

.link {
  composes: botonverde from "../../styles/mixins.module.css";
}

.link:hover {
  background-color: moradoClaro;
  color: blanco;
  transform: scale(1.1);
}

@media all and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    width: 150px;
    height: 300px;
    border: 1px solid verdeClaro;
    border-radius: 8px;
    overflow: hidden;
  }

  .rating {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .link {
    width: fit-content;
    text-align: center;
  }

  .link:hover {
    transform: none;
  }

  .image {
    width: 90%;
    object-fit: contain;
  }
}
