@value colors: '../../styles/colors.module.css';
@value negro, azul, naranja, beige, blanco, rojo from colors;

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 40%;
  padding: 2rem;
  border-radius: 10px;
  background-color: azul;
  color: blanco;
}
.title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.formBody {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: center;
}

.formContainer {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  border: none;
  background-color: beige;
  padding: 1rem 1rem;
  color: negro;
  border-radius: 5px;
  outline: none;
  position: relative;
}
.field:focus {
  outline-color: azul;
}

.passwordContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  border: none;
  background-color: beige;
  color: negro;
  border-radius: 5px;
  position: relative;
}

.passwordIcon {
  position: relative;
  width: 1.5rem;
  height: auto;
  right: 50%;
  stroke: azul;
}

.submitButton {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.8rem 1.5rem;
  background-color: blanco;
  color: azul;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.submitButton:hover {
  background-color: naranja;
  color: blanco;
}

.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: blanco;
}

.link {
  color: naranja;
  font-weight: 600;
  text-decoration: none;
}

.error {
  margin-top: 1rem;
  color: blanco;
  background-color: rojo;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  .formContainer {
    flex-direction: column;
  }
}
