@value colors: '../../styles/colors.module.css';
@value verde, moradoClaro, moradoClaro, blanco, moradoClaro from colors;

.deleteButton {
  composes: botonmoradoClaro from "../../styles/mixins.module.css";
}

.deleteButton:hover {
  background-color: verde;
  color: blanco;
}
