@value colors: '../../styles/colors.module.css';
@value azul, naranja, beige, blanco, grisClaro from colors;

.box {
  composes: box from "../../styles/mixins.module.css";
}

.container {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoContainer {
  border-radius: 10px;
  background-color: grisClaro;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
}

/* DATOS PERSONALES */

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  composes: title from "../../styles/mixins.module.css";
  margin-bottom: 2rem;
  color: azul;
}

.subtitleDatos {
  font-weight: bold;
  margin-bottom: 1rem;
}

.name {
  display: flex;
  gap: 0.2rem;
}

.name p {
  font-weight: bold;
}

.phone {
  display: flex;
  gap: 0.2rem;
}

.phone p {
  font-weight: bold;
}

.address {
  display: flex;
  gap: 0.2rem;
}

.address p {
  font-weight: bold;
}

.buttonEdit {
  composes: botonazul from "../../styles/mixins.module.css";
  margin-top: 1rem;
}

.buttonEdit:hover {
  background-color: naranja;
  color: blanco;
}

/* MIS PEDIDOS */
