@value colors: '../../styles/colors.module.css';
@value verde, morado, blanco, moradoClaro from colors;

.box {
}

.container {
  composes: box from "../../styles/mixins.module.css";
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
}

/* DATOS PERSONALES */

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.datosEditContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title {
  composes: title from "../../styles/mixins.module.css";
  color: verde;
  margin-bottom: 1rem;
}

.buttonEdit {
  composes: botonverde from "../../styles/mixins.module.css";
}

.buttonEdit:hover {
  background-color: moradoClaro;
  color: blanco;
}

.buttonLogout {
  composes: botonverde from "../../styles/mixins.module.css";
  background-color: moradoClaro;
}

.buttonLogout:hover {
  background-color: morado;
  color: blanco;
}

.subtitleDatos {
  font-weight: bold;
}

.editContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin-top: 1rem;
  width: 25%;
}

.dataEdit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
}

.data {
  border: 1px solid verde;
  border-radius: 5px;
  padding: 10px 10px;
  width: fit-content;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.data span {
  font-weight: bold;
}

.inputEdit {
  border: 1px solid verde;
  border-radius: 5px;
  padding: 10px 10px;
  width: fit-content;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.inputEdit:focus {
  outline: none;
  border: 1px solid moradoClaro;
}

@media all and (max-width: 1280px) {
  .container {
    padding-inline: 2rem;
  }
}

/* MIS PEDIDOS */
