@value colors: '../../styles/colors.module.css';
@value verde, moradoClaro, negro, morado, blanco, verdeClaro from colors;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.button {
  background-color: transparent;
  border: none;
  font-weight: light;
  font-size: 2rem;
  cursor: pointer;
}

.button:active {
  color: morado;
}

.count {
  font-size: 1.5rem;
  font-weight: bold;
}
