@value colors: './colors.module.css';
@value verde, blanco from colors;

.box {
  composes: box from "mixins.module.css";
}
.container {
  display: flex;
  justify-content: space-around;
  margin: 2rem auto;
  height: 100%;
  width: 70%;
  background-color: verde;
  border-radius: 10px;
  position: relative;
}

.leftContainer {
  width: 50%;
  color: blanco;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  composes: title from "mixins.module.css";
  margin-bottom: 1rem;
}

.infoContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.socialLink {
  color: blanco;
  text-decoration: none;
}

.infoIcon {
  width: 2rem;
  height: 2rem;
}

.SocialNavMenuComponent {
  position: absolute;
  bottom: 10%;
}
