@value colors: './colors.module.css';
@value azul, blanco from colors;

.box {
  background-color: azul;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.title {
  composes: title from "mixins.module.css";
  color: blanco;
}
