@value colors: 'colors.module.css';
@value verde, moradoClaro, moradoClaro, blanco from colors;

/* CAJA */

.box {
  max-inline-size: 1160px;
  margin-inline: auto;
}

/* TEXTOS */

.title {
  font-size: 2rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  width: 60%;
}

.paragraph {
  font-size: 1rem;
  font-weight: 400;
}

/* BOTONES Y ENLACES */

.botonverde {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: verde;
  color: blanco;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.botonverdeHover {
  background-color: moradoClaro;
  color: blanco;
}

.botonBlanco {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: blanco;
  color: verde;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.botonBlancoHover {
  background-color: moradoClaro;
  color: blanco;
}

.botonmoradoClaro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: moradoClaro;
  color: blanco;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.botonmoradoClaroHover {
  background-color: verde;
  color: blanco;
}

.linkverde {
  display: flex;
  align-items: center;
  color: verde;
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.linkMisionHover {
  color: moradoClaro;
}

.linkmoradoClaro {
  display: flex;
  align-items: center;
  color: moradoClaro;
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.linkMisionHover {
  color: blanco;
}
