@value colors: 'colors.module.css';
@value verde, azul, beige, blanco from colors;

.root {
  background-color: azul;
}

.box {
  composes: box from "mixins.module.css";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: blanco;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.body {
  margin: 2rem 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.5s;
  background: azul;
}

.images {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-width: 900px;
  width: calc(100% - 100);
  height: 400px;
}

.image {
  position: relative;
  overflow: hidden;
  min-width: 60px;
  margin: 10px;
  background-size: auto 100%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.1, 0.1, 0.1, 0.1);
}

.image.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 600px;
  margin: 0;
  border-radius: 25px;
  background-size: auto 100%;
}

.image.active .label {
  background: azul;
  padding: 10px;
  border-radius: 50px;
  bottom: 15px;
  left: 15px;
  right: 15px;
}

.image:not(.active) {
  flex-grow: 1;
  border-radius: 25px;
}

.image:not(.active) .label {
  bottom: 10px;
  left: 10px;
}

.image:not(.active) .label .info {
  display: none;
}

.label {
  display: flex;
  position: absolute;
}

.icon {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  background: blanco;
  height: 40px;
  border-radius: 50%;
  color: azul;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  color: blanco;
}

.main {
  font-weight: bold;
  font-size: 1.2rem;
}
