@value colors: 'colors.module.css';
@value verde, azul, beige, blanco from colors;

.container {
  background-color: beige;
  color: azul;
}

.cabeceraContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  height: 50vh;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/265216/pexels-photo-265216.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: 100% 30%;
  margin-bottom: 2rem;
}

.tituloCabecera {
  composes: title from "mixins.module.css";
}

.parrafoCabecera {
  composes: subtitle from "mixins.module.css";
}

.linkCabecera {
  composes: botonVerde from "mixins.module.css";
}

.linkCabecera:hover {
  background-color: azul;
  color: blanco;
}

.misionContainer {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  background-color: beige;
}

.misionTextContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tituloMision {
  composes: title from "mixins.module.css";
}

.parrafoMision {
  composes: paragraph from "mixins.module.css";
  max-width: 90%;
}

.linkMision {
  composes: linkVerde from "mixins.module.css";
}

.linkMision:hover {
  color: azul;
}

.imgMision {
  border-radius: 10px;
}

.proveedorContainer {
  display: flex;
  gap: 5rem;
  padding: 2rem;
  background-color: blanco;
  margin-bottom: 2rem;
}

.proveedorTextContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tituloProveedor {
  composes: title from "mixins.module.css";
}

.parrafoProveedor {
  composes: paragraph from "mixins.module.css";
}

.linkProveedor {
  composes: linkVerde from "mixins.module.css";
}

.linkProveedor:hover {
  color: azul;
}

.imgProveedor {
  border-radius: 10px;
}

.proveedorPillContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: verde;
  color: blanco;
  border-radius: 10px;
  margin-inline: 15%;
  padding: 2rem 5rem;
}

.proveedorPillTextContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.proveedorPillTitulo {
  composes: title from "mixins.module.css";
}

.proveedorPillParrafo {
  composes: paragraph from "mixins.module.css";
}

.proveedorPillLink {
  composes: botonBlanco from "mixins.module.css";
}

.proveedorPillLink:hover {
  background-color: azul;
  color: blanco;
}

.valueContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.valueTitulo {
  composes: title from "mixins.module.css";
}

.valueParrafo {
  composes: subtitle from "mixins.module.css";
  margin-bottom: 1rem;
}

.colContainer {
  display: flex;
  gap: 2rem;
}

.valueCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 400px;
  text-align: center;
  padding: 2rem;
  box-shadow: #2d374810 5px 5px 10px 5px;
  border-radius: 10px;
  background-color: blanco;
}

.tituloValueCol {
  composes: title from "mixins.module.css";
  color: verde;
  font-size: 1.5rem;
}

.parrafoValueCol {
  composes: paragraph from "mixins.module.css";
  max-width: 80%;
}

.linkValueCol {
  composes: linkVerde from "mixins.module.css";
}

.linkValueCol:hover {
  color: azul;
}

.contactoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.contactoTitulo {
  composes: title from "mixins.module.css";
}

.contactoParrafo {
  composes: subtitle from "mixins.module.css";
}

.contactoLink {
  composes: botonVerde from "mixins.module.css";
}

.contactoLink:hover {
  background-color: azul;
  color: blanco;
}
