@value colors: 'colors.module.css';
@value blanco, gris, azul, verde, verdeClaro, grisClaro, beige from colors;

.backBox {
  background-color: blanco;
}

.box {
  composes: box from "mixins.module.css";
}

.container {
  display: flex;
  gap: 2rem;
  border-radius: 10px;
  margin-top: 3rem;
  margin-left: 2rem;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
}

.formFilter {
  display: flex;
  align-items: center;
  border: 1px solid azul;
  border-radius: 5px;
}

.inputFilter {
  padding: 0.5rem 1rem;
  border: none;
}

.inputFilter::placeholder {
  color: azul;
}

.inputFilter:focus {
  outline: none;
}

.buttonFilter {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 0.2rem;
}

.iconFilter {
  fill: azul;
  width: 15px;
  height: auto;
}

.buttonRefresh {
  composes: botonAzul from "mixins.module.css";
}

.buttonRefresh:hover {
  background-color: gris;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.containerPagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 1rem;
  gap: 1rem;
}

.paginationLink {
  padding: 0.5rem 1rem;
  border: 1px solid #2d37482b;
  border-radius: 0.25rem;
  color: azul;
  cursor: pointer;
  transition: all 0.3s;
}

.paginationLink:hover {
  border: 1px solid azul;
}

.svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: azul;
}

@media screen and (max-width: 550px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    margin-top: 0;
    margin-left: 0;
  }

  .buttonFilter {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 0;
  }

  .iconFilter {
    margin-left: 0.5rem;
  }

  .productContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}
