@value colors: 'colors.module.css';
@value blanco from colors;

.productContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  height: auto;
  background-color: blanco;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 1rem;
  padding: 1rem;
  height: auto;
  background-color: blanco;
  height: 100%;
}

.container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  height: auto;
  background-color: blanco;
}
